[submodule "submodules/ghcmod-vim"]
	path = submodules/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "submodules/syntastic"]
	path = submodules/syntastic
	url = https://github.com/jrk-/syntastic.git
[submodule "submodules/vimproc"]
	path = submodules/vimproc
	url = https://github.com/Shougo/vimproc.git
	ignore = untracked
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "submodules/nerdcommenter"]
	path = submodules/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodules/errormarker.vim"]
	path = submodules/errormarker.vim
	url = https://github.com/vim-scripts/errormarker.vim.git
	ignore = untracked
[submodule "submodules/haskellmode-vim"]
	path = submodules/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "submodules/vim-align"]
	path = submodules/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "submodules/vim-showmarks"]
	path = submodules/vim-showmarks
	url = https://github.com/zakj/vim-showmarks.git
[submodule "submodules/vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "submodules/neco-ghc"]
	path = submodules/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "submodules/neocomplcache"]
	path = submodules/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "submodules/clang_complete"]
	path = submodules/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "submodules/vim-repeat"]
	path = submodules/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "submodules/vim-speeddating"]
	path = submodules/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "submodules/vim-unimpaired"]
	path = submodules/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "submodules/vim-eunuch"]
	path = submodules/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "submodules/neocomplcache-clang_complete"]
	path = submodules/neocomplcache-clang_complete
	url = https://github.com/osyo-manga/neocomplcache-clang_complete
[submodule "submodules/vim-powerline"]
	path = submodules/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "submodules/tagbar"]
	path = submodules/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "submodules/vim-haskellFold"]
	path = submodules/vim-haskellFold
	url = https://github.com/Twinside/vim-haskellFold.git
[submodule "submodules/vim-indent-guides"]
	path = submodules/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "submodules/vim-textobj-indent"]
	path = submodules/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
	ignore = untracked
[submodule "submodules/vim-textobj-user"]
	path = submodules/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
	ignore = untracked
[submodule "submodules/ctrlp.vim"]
	path = submodules/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "submodules/undotree"]
	path = submodules/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "submodules/vim-easymotion"]
	path = submodules/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "submodules/git-rebase-helper"]
	path = submodules/git-rebase-helper
	url = https://github.com/pix/git-rebase-helper.git
[submodule "submodules/vim-autoformat"]
	path = submodules/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "submodules/vim-numbertoggle"]
	path = submodules/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
