[submodule "submodules/ghcmod-vim"]
	path = submodules/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "submodules/syntastic"]
	path = submodules/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "submodules/vimproc"]
	path = submodules/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "submodules/nerdcommenter"]
	path = submodules/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodules/errormarker.vim"]
	path = submodules/errormarker.vim
	url = https://github.com/vim-scripts/errormarker.vim.git
[submodule "submodules/haskellmode-vim"]
	path = submodules/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "submodules/supertab"]
	path = submodules/supertab
	url = https://github.com/ervandew/supertab
